<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pay With Plirono</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="deeplink-transaction" padding>
  <div *ngIf="isDeeplinkLaunch">
    <h3>Transaction Details</h3>
    <ion-row>
      <ion-col item-left width-33>Amount:</ion-col>
      <ion-col item-left><strong>{{amount | currency:'EUR':true:'1.2-2'}}</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col item-left width-33>Description:</ion-col>
      <ion-col item-left><strong>{{description}}</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col item-left width-33>Merchant Email:</ion-col>
      <ion-col item-left><strong>{{merchantEmail}}</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col item-left width-33>Merchant ID:</ion-col>
      <ion-col item-left><strong>{{merchantId}}</strong></ion-col>
    </ion-row>
    <ion-item margin-top>
      <ion-label>Select a credit card</ion-label>
      <ion-select [(ngModel)]="selectedCard" (ionChange)="onCardSelection()">
        <ion-option value="3007">x-3007</ion-option>
        <ion-option value="2128" selected="true">x-2128</ion-option>
        <ion-option *ngFor="let card of creditCrards" value="{{card.number}}">x-{{card.number}}</ion-option>
        <ion-option value="">add a card...</ion-option>
      </ion-select>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label>Select shipping destination</ion-label>
      <ion-select [(ngModel)]="destination">
        <ion-option value="home">home</ion-option>
        <ion-option value="work" selected="true">work</ion-option>
      </ion-select>
    </ion-item>
    <button *ngIf="!(isTransactionProcessed)" (click)="processTransaction()" ion-button block margin-vertical>Confirm details</button>
    <button *ngIf="isTransactionProcessed" (click)="proceedToCheckout()" ion-button icon-right block margin-vertical>
      Proceed to checkout
      <ion-icon name="exit"></ion-icon>
    </button>
  </div>
  <div *ngIf="!(isDeeplinkLaunch)">
    <h3>Please launch via deeplink procedure</h3>
    <p>
      If you don't know what that is, just visit <em>[link to our custom page here]</em>
      from your browser in order to experience this app in all its glory.
    </p>
  </div>
</ion-content>
