<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pay With Tinaba</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div *ngIf="isDeeplinkLaunch">
    <h3>Transaction Details</h3>
    <p *ngIf="amount">
      Amount: <strong>{{amount | currency:'EUR':true:'1.2-2'}}</strong>
    </p>
    <p *ngIf="description">
      Description: <strong>{{description}}</strong>
    </p>
    <p *ngIf="merchantEmail">
      Merchant e-mail: <strong>{{merchantEmail}}</strong>
    </p>
    <p *ngIf="merchantId">
      MerchantId: <strong>{{merchantId}}</strong>
    </p>
    <button ion-button color="secondary" block margin-vertical>Confirm and pay</button>
  </div>

  <div *ngIf="!(isDeeplinkLaunch)">
    <h3>Please launch via deeplink procedure</h3>
    <p>
      If you don't know what that is, just visit <em>[link to our custom page here]</em>
      from your browser in order to experience this app in all its glory.
    </p>
  </div>
</ion-content>
